<div class="w-section">
  <div class="w-container">
    <div class="h2-div">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h3 class="h3-div-heading">Dashboard</h3>
        </div>
        <div class="w-col w-col-6">
          <h3 class="money-h2">Money</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-section">
  <div class="w-container">
    <div class="w-clearfix designer-info-div">
      <div class="w-row">
        <div class="w-col w-col-2"><%= image_tag(@designer.profile_pic.url(:medium), :class => "dashboard-profile-image", :width => "100", :height => "100") %>
        </div>
        <div class="w-col w-col-4">
          <div>
            <h3 class="dashboard-designer-name"><%= @designer.full_name %></h3>
            <% if current_designer %>
              <%= link_to 'Edit Profile', edit_designer_path(@designer), :class => "button small-white-button" %>
            <% end %>
            <div class="reg-text-12"><%= @designer.bio %>
              <br><%= @designer.location %>
              <br><a class="designer-profile-link" href="<%= @designer.website_url %>" target="_blank"><%= @designer.website_url %></a>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6 w-clearfix">
          <!-- <h3 class="money-pink">$2400</h3></h3><a class="button small-pink-button" href="#">Withdraw</a><br><br> -->
          <%= link_to image_tag('blue-on-light.png'), stripe_oauth_path %>
        </div>
      </div>
      <h3 class="dashboard-brands-heading">Brands</h3><%= link_to "Upload New Brand", new_brand_path, :class => "button small-pink-button button-top-margin" %>
    </div>
  </div>
</div>
<div class="w-section">
  <div class="w-container">
    <div class="w-clearfix brands-dashboard-div">
      <% @designer.brands.active.each_slice(3) do |active_brands| %>
        <div class="w-row dashboard-brands-row">
          <% active_brands.each do |active_brand| %>
            <div class="w-col w-col-4">
              <div class="w-clearfix brand-div-dashboard"><%= image_tag(active_brand.thumbnail.url, :height => "175", :class => "dashboard-brand-image") %>
                <div class="reg-text-12 brand-name-dashboard"><%= link_to active_brand.name, brand_path(active_brand) %></div><%= link_to image_tag("gear-icon.svg", :class => "gear-icon", :size => "15x15"), edit_brand_path(active_brand) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <h3 class="dashboard-brands-heading">Archive</h3>
    </div>
  </div>
</div>
<div class="w-section">
  <div class="w-container">
    <div class="brands-dashboard-div archive">
      <% @designer.brands.archived.each_slice(3) do |brands| %>
        <div class="w-row">
          <% brands.each do |abrand| %>
            <div class="w-col w-col-4">
              <div class="w-clearfix brand-div-dashboard"><%= image_tag(abrand.thumbnail.url, :height => "175", :class => "dashboard-brand-image") %>
                <div class="reg-text-12 brand-name-dashboard"><%= link_to abrand.name, brand_path(abrand) %></div><%= link_to image_tag("gear-icon.svg", :class => "gear-icon", :size => "15x15"), edit_brand_path(abrand) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>