<div class="w-section">
  <div class="w-container static-header">
    <h1 class="static-header-h1 black-header">Complete freedom to create,<br>and work on projects<br>you love.</h1>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-white-section">
    <h1 class="static-white-heading">Give those unseen<br>projects a voice.</h1>
    <div class="static-white-text-block">Only a small percentage of the ideas and work we create,
      <br>actually goes on to be used commercially.
      <br> Adddapt is the perfect platform to sell branding work that
      <br>you’ve created in your free time. Whether it be for practice,
      <br>as a passion project - or even a design school project.</div>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-white-section grey">
    <h1 class="static-white-heading">As designers, it’s in<br>our nature to create.</h1>
    <div class="static-white-text-block">Adddapt aims to give designers complete freedom to
      <br>create, and work on projects the love – and give them
      <br>a platform to earn a living while doing it.
      <br>Design a brand for whatever you want, whenever you
      <br>want and however you want. You’re the boss.</div>
  </div>
</div>
<div class="w-section">
  <div class="w-container static-white-section">
    <h1 class="static-white-heading">So easy-<br>It feels like cheating.</h1>
    <div class="static-white-text-block">We put your work infront of startups, hungry
      <br>entrepreneurs and disruptive innovators, while you sit
      <br>back and earn cash from projects that are collecting
      <br>dust on your hard drive. All we ask is that you replace
      <br>any placeholder text and logo’s you’ve created to
      <br>match your clients need’s.</div>
  </div>
</div>
<div class="w-section">
  <div class="w-container">
    <div class="get-started-block">
      <h2 class="get-started-h2">Help make the world beautiful – Sign up now.</h2>
      <div class="w-form">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "w-clearfix get-started-form"}) do |f| %>
          <%= devise_error_messages! %>

          <div>
            <%= f.email_field :email, autofocus: true, :class => "w-input get-email" %>
          </div>

          <div>
            <%= f.password_field :password, autocomplete: "off", :class => "w-input get-password" %>
          </div>

          <div>
            <%= f.submit "Sign up", :class => "w-button get-started-submit-button" %>
          </div>
        <% end %>
 
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>

      </div>
    </div>
  </div>
</div>