 <div class="w-section">
   <div class="w-container static-header short-header pink">
     <h1 class="static-header-h1 terms">Terms and Conditions</h1>
   </div>
 </div>
 <div class="w-section">
   <div class="w-container static-white-section terms">
     <div class="static-white-text-block terms">This privacy policy outlines how Matthew Vernon (‘us’, ‘we’, ‘Adddapt’) collects, holds, uses, discloses and otherwise manages your personal information and comply with our obligations under the Privacy Act 1988 (Cwlth). It applies to all of your dealings with http://adddapt.co and associated staff.
       <br>
       <br> You will always be able to access a current version of our privacy policy on our website. Occasionally it will be necessary for us to update our privacy policy. When we do so, we will place a notice on our website.
       <br>
       <br> How We Collect Your Personal Information
       <br>Adddapt collects your personal information for the following main purposes: – to keep customers (new &amp; existing) informed of new and existing products and services we offer; – to maintain contact with customers; – to notify customers, designers and the Adddapt community of events, products and services; – to manage and administer the products and services we offer; – to improve our websites to provide you with a personalised experience; and – to provide you with information about other products and services we offer that may be relevant to you.
       <br>
       <br> We may collect your personal information via a number of methods. These include visiting our website http://adddapt.co, when you register to our newsletter, fill out a form via our website, or correspond with us via our website or via email.
       <br>
       <br> On occasion it may be necessary for us to collect your personal information from a publicly available source or use your information provided. For designers, we may assess designs &amp;/or review existing work created by you and that may have been published online. We will only do so if it is necessary for us to perform a specific service &amp;/or to ensure copyright and legal issues are compliant.
       <br>
       <br> Personal Information Collected
       <br>Generally the personal information we collect consists of your full name and contact details. This may include postal and email address, phone and mobile number and business contact details. Where relevant we may ask you for other information.
       <br>
       <br> We may collect personal information such as your IP address and web activity through third party companies and/or Google Analytics when interacting with us via our website and internet browsing. Usually we will not collect sensitive information (e.g. data relating to professional memberships, race or ethnic origin, religious beliefs, political opinions, criminal record, physical or mental health, or sexual orientation) from you. We may do so only if it is reasonably necessary for one or more of our functions and you explicitly consent beforehand.
       <br>
       <br> How We Use Your Personal Information
       <br>We use your personal information to create relevant products, use for our customisation service and provide you with information about Adddapt.
       <br>
       <br> We may disclose your personal information to third parties who assist us to provide the products you request (e.g. our designers/contributors). With your verbal or written consent, we may use or disclose your personal information to the following third parties:
       <br>– those that provide, manage or administer our product or service to you;
       <br>– those involved in product design, development or customisation;
       <br>– those required or authorised by law, for example, government or regulatory bodies for purposes related to public health or safety, the
       <br>– prevention or detection of unlawful activities, copyright or trademark services or to protect public revenue. We require third parties to protect your information in a manner consistent with this policy and the Privacy Act 1988 (Cth). We will never sell your personal information.
       <br>
       <br> If personal information is not able to be collected, this may impact the level of service Adddapt is able to provide. We may use your personal information to market our services, including by phone, email or SMS. If at any stage you no longer wish to receive this marketing, please send an email to adddapt@gmail.com with your full name, postcode, mobile number and the communication mediums you wish to unsubscribe from. We will endeavour to process your request within 21 days. We will hold your personal information for such time as required to fulfil the purposes for which it was collected, or as required by law.
       <br>
       <br> Security Of Your Personal Information
       <br>We take the security of your personal information very seriously. We will take reasonable commercial measures to protect your personal information from misuse, interference, loss, unauthorised access, modification or disclosure. Your information may be kept in electronic form or hard copy. We implement a number of processes to ensure your personal information is safeguarded. Our processes include the following:
       <br>– information storage security policies;
       <br>– security measures for systems access;
       <br>– accessed control for our Customer Relationship Management systems; and
       <br>– secure web forms when collecting sensitive information.
       <br>
       <br> We take reasonable care to ensure any personal information you provide us via our website is protected. For example, if we require your sensitive information our websites have electronic security systems in place, which include data encryption. Depending on your involvement with Adddapt and the type of information collected, user identifiers, passwords or other access codes may also be used to control access to your personal information.
       <br>
       <br> Use Of Cookies
       <br>You are not required to provide us with any personal information as a visitor to our website. You may choose to remain anonymous or to provide us with a pseudonym if you do not wish to reveal your identity. However, please be aware that if this is impractical we may be unable to provide you with proper services.
       <br>
       <br> We use cookies on our website. These are small text files that are placed on your computer when you visit our website that provide us with information such as internet provider, date and time, search phrases, or referring websites. This information is not initially personally identifiable. However it is likely to be, once you provide us with your personal information. Cookies assist us to monitor traffic to the various pages on our website. This enables us to create a customised user experience.
       <br> Most browsers are programmed to accept cookies. If you wish to erase or block Cookies, you may be able to do this by changing the settings of your browser.
       <br>
       <br> Blogs, Forums, And Other Social Media
       <br>Adddapt communicates with customers by social media, forums and other interactive platforms. Any personal information you disclose on these sites may be read, collected and used by other users over whom we have no control. Adddapt are not responsible for any use, misuse or misappropriation by other users of any personal information that you contribute in this manner.
       <br>
       <br> Our website may include links to third party websites. If you access those websites you will be subject to their privacy policy, the terms and conditions of which may differ from our own. You will need to contact or examine those websites or companies directly to determine their privacy standards, policies and procedures.
       <br>
       <br> Access To Your Personal Information
       <br>To request access to your personal information, please email us at adddapt@gmail.com. We will endeavour to process your request within 21 days. In some circumstances we may refuse to give you access. We will explain why if that is the case (e.g. it may unreasonably affect the privacy of others). We take reasonable steps to ensure that the personal information we collect and store is accurate, up-to-date and complete. Should you wish to access your personal information to ensure it is accurate, up-to-date, complete, relevant and not misleading, and if not, to correct it, please email us.
       <br>
       <br> Complaints
       <br>If you believe we have breached an Australian Privacy Principle or registered Australian Privacy Principle code and would like to make a complaint, you can do so in writing by emailing or writing to Adddapt. We will endeavour to respond to your complaint within 30 days. You may direct any subsequent complaints to the Office of the Australian Information Commissioner (OAIC) at http://www.oaic.gov.au/privacy/making-a-privacy-complaint.
       <br>
       <br> How To Contact Us
       <br>We are committed to respecting your right to privacy and protecting your personal information. You may request further information about the way we manage your personal information by contacting us at Adddapt.
       <br>
       <br>
       <br>
       <br> Updated: 24th May 2015
       <br>Adddapt
       <br>
       <br> Matthew Vernon 2015
       <br>ABN: 54 550 409 426</div>
   </div>
 </div>
<div class="w-section">
   <div class="w-container">
     <div class="get-started-block">
       <h2 class="get-started-h2">Help make the world beautiful – Sign up now.</h2>
       <div class="w-form">

         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => "w-clearfix get-started-form"}) do |f| %>
           <%= devise_error_messages! %>

           <div>
             <%= f.email_field :email, autofocus: true, :class => "w-input get-email" %>
           </div>

           <div>
             <%= f.password_field :password, autocomplete: "off", :class => "w-input get-password" %>
           </div>

           <div>
             <%= f.submit "Sign up", :class => "w-button get-started-submit-button" %>
           </div>
         <% end %>
  
         <div class="w-form-done">
           <p>Thank you! Your submission has been received!</p>
         </div>
         <div class="w-form-fail">
           <p>Oops! Something went wrong while submitting the form</p>
         </div>

       </div>
     </div>
   </div>
 </div>