<div class="w-section">
  <div class="w-container">
    <div class="h2-div">
      <div class="w-row header-row">
        <div class="w-col w-col-6">
          <h3 class="h3-div-heading no-left-padding">Welcome to Adddapt!</h3>
        </div>
        <div class="w-col w-col-6">
          <h3 class="h3-div-heading right">Step 1. Tell us more about yourself</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-section">
  <div class="w-container">
    <div class="designer-info-div edit-profile-div after-sign-up-no-padding">
      <div class="w-container login-container after-sign-up">
        <div class="login-form-body after-signup-form-body">
          <div class="w-form login-form rounded-top">
            <%= form_for @designer, :url => wizard_path, method: :put, :html => { :multipart => true, :class => "after-signup-form" } do |f| %>
              <% if @designer.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@designer.errors.count, "error") %> prohibited this designer from being saved:</h2>

                  <ul>
                  <% @designer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <%= f.label :first_name, "First Name:", :class => "after-sign-up-label"  %>
              <%= f.text_field :first_name, :class => "w-input get-email login-field" %>

              <%= f.label :last_name, "Last Name:", :class => "after-sign-up-label"  %>
              <%= f.text_field :last_name, :class => "w-input get-email login-field" %>

              <%= f.label :location, "Where You Live:", :class => "after-sign-up-label"  %>
              <%= f.text_field :location, :class => "w-input get-email login-field" %>

              <%= f.label :bio, "Short Bio:", :class => "after-sign-up-label"  %>
              <%= f.text_area :bio, :class => "w-input get-email login-field bio-signup", :placeholder => "I am 21 year old designer that likes to blend minimalistic with futuristic styles." %>

              <%= f.submit "Continue", :class => "w-button get-started-submit-button login-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
