<div class="w-section">
  <div class="w-container">
    <div class="footer-div">
      <div class="w-row">
        <div class="w-col w-col-3">
          <div class="text-logo footer-logo">Adddapt</div>
          <div class="footer-slogan">Branding for everyone.</div>
        </div>
        <div class="w-col w-col-3">
          <div>
            <ul class="w-list-unstyled footer-link-list">
              <li class="link-list-header">LEARN&nbsp;MORE</li>
              <li><%= link_to "Startups", startups_path, :class => "_12-font-link-pink" %></li>
              <li><%= link_to "Designers", for_designers_path, :class => "_12-font-link-pink"  %></li>
              <li><%= link_to "Manifesto", manifesto_path, :class => "_12-font-link-pink"  %></li>
              <li><%= link_to "Terms of Use", terms_path, :class => "_12-font-link-pink"  %></li>
              <li><%= link_to "Privacy Policy", privacy_path, :class => "_12-font-link-pink"  %></li>
            </ul>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div>
           <!--  <ul class="w-list-unstyled footer-link-list connect-list">
              <li class="link-list-header">CONNECT</li>
              <li>Blog</li>
              <li>Contact Us</li>
            </ul> -->
          </div>
        </div>
        <div class="w-col w-col-3">
          <div>
            <!-- <ul class="w-list-unstyled footer-link-list social-list">
              <li class="link-list-header">SOCIAL</li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->